{% extends 'index.html' %}
{% block pubactive %}
    active
{% endblock %}
{% block context %}
<form action="" method="post"> {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Pid</label>
    <input type="text" name="pid" class="form-control" id="exampleInputEmail1" placeholder="pid">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="name">
  </div>
  <button type="submit" class="btn btn-default">Addition</button>
</form>
{% endblock %}