{% extends 'index.html' %}
{% block bookactive %}
    active
{% endblock %}
{% block context %}
    <div class="bs-example" data-example-id="bordered-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Title</th>
          <th>Pub_id</th>
          <th>Operate</th>

        </tr>
      </thead>
      <tbody>
      {% for bookobj in bookobjs %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{bookobj.id}}</td>
          <td>{{ bookobj.title }}</td>
          <td>{{ bookobj.pub }}</td>
          <td>
              <a href="#"><button type="button" class="btn btn-primary">edit</button></a>
              <a href="{% url 'app02:del' "booknew" bookobj.id  %}"><button type="button" class="btn btn-primary">del</button></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}