{% extends 'index.html' %}
{% block pubactive %}
    active
{% endblock %}
{% block context %}
        <div class="bs-example" data-example-id="bordered-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>PId</th>
          <th>Name</th>
           <th>Operate</th>
        </tr>
      </thead>
      <tbody>
      {% for pubobj in pubobjs %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{pubobj.id}}</td>
          <td>{{ pubobj.name }}</td>
          <td>
              <a href="#"><button type="button" class="btn btn-primary">edit</button></a>
              <a href="{% url 'app02:del' "publishernew" pubobj.id  %}"><button type="button" class="btn btn-primary">del</button></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}